<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServicesFirstEndPoint" />
      </basicHttpBinding>
    </bindings>
    <behaviors>

      <endpointBehaviors>
        <behavior name="myServiceBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://www.myshopauto.com/ATPServices/OutDoor.svc"
        binding="basicHttpBinding" bindingConfiguration="ServicesFirstEndPoint"
        contract="OutDoorProxy.IOutDoor" name="ServicesFirstEndPoint" />
    </client>
  </system.serviceModel>
</configuration>
