<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyShopCompInspectionSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MyShopCompInspectionSync.Properties.Settings>
            <setting name="ServicePollInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="IsShowForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DealerId" serializeAs="String">
                <value>103</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>data source = c:\\SIRPA\\Data\\SIRDATA.ADD; ServerType=remote|local; TableType=ADT</value>
            </setting>
        </MyShopCompInspectionSync.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicesFirstEndPoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.myshopauto.com/ATPServices/CompInspection.svc"
                binding="basicHttpBinding" bindingConfiguration="ServicesFirstEndPoint"
                contract="MyShopProxy.ICompInspection" name="ServicesFirstEndPoint" />
        </client>
    </system.serviceModel>
</configuration>