@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>  Welcome to My Shop Auto!</h1>
    <p>
        My Shop Auto Was Designed For You, To Make Your Service Experience As Pleasant As Possible.
        By placing The My Shop App On Your Smart Device, You Are Connected With Your Chosen Automotive Service Provider Dealer Garage, without disrupting the rest of your day.
        This APP, will allow you to receive and send back, " Chat Messages ", with your Service Personnel.
        You will also receive a "Vehicle Inspection Report", from your automotive service provider Service Personnel, that is sent directly to your smartphone.
        It is easy to use . Just install and follow the prompts and you are ready for your next Service visit.
    </p>
</div>

<div class="services">
    <div class="container">
        <h3>Auto Service Made Easy</h3>
        <p class="ert">To Provide Good & Quick Service</p>
        <div class="services-grids">
            <div class="col-md-3 services-grid">
                <div class="services-grid1">
                    <div class="services-grid1-pos">
                        <img src="https://www.myshopauto.com/dealerapp/images/1.png" alt=" " />
                    </div>
                    <div class="aut">
                        <h4>Shop Branded App</h4>
                        <p>Build a customer loyality with a shop branded app. Action Buttons Clickable phone, email, website buttons your shop is at their fingertips in a instant.</p>
                    </div>
                    <div class="more m1">
                        <a href="#">Learn More...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 services-grid">
                <div class="services-grid1">
                    <div class="services-grid1-pos">
                        <img src="https://www.myshopauto.com/dealerapp/images/4.png" alt=" " />
                    </div>
                    <div class="aut">
                        <h4>Interactive MPI</h4>
                        <p>Our exclusive, interactive inspection sheet is designed for your shop. Allowing for comments and pricing, to give your customer to information they need.</p>
                    </div>
                    <div class="more m1">
                        <a href="#">Learn More...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 services-grid">
                <div class="services-grid1">
                    <div class="services-grid1-pos">
                        <img src="https://www.myshopauto.com/dealerapp/images/3.png" alt=" " />
                    </div>
                    <div class="aut">
                        <h4>No phone tag</h4>
                        <p>Chat feature allows direct messages, to and from customer. No voice mail or missed calls. Keep vehicles moving in shop.</p>
                    </div>
                    <div class="more m1">
                        <a href="#">Learn More...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 services-grid">
                <div class="services-grid1">
                    <div class="services-grid1-pos">
                        <img src="https://www.myshopauto.com/dealerapp/images/2.png" alt=" " />
                    </div>
                    <div class="aut">
                        <h4>User Friendly & Vehicle Information</h4>
                        <p>
                            Generation X and Y are becoming the new buying power, where do they want to communicate?
                            Vehicle information and reminders can be front and center on your app.
                        </p>
                    </div>
                    <div class="more m1">
                        <a href="#">Learn More...</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
