<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyShopCompBridge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MyShopCompBridge.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>sdf</value>
            </setting>
            <setting name="IsShowForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DealerId" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="ServicePollInterval" serializeAs="String">
                <value>10</value>
            </setting>
        </MyShopCompBridge.Properties.Settings>
    </applicationSettings>
  <connectionStrings>
    <add name="MyShopCompBridge.Properties.Settings.CompDb" connectionString="data source = c:\\SIRPA\\Data\\SIRDATA.ADD; ServerType=remote|local; TableType=ADT" />
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicesFirstEndPoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.myshopauto.com/ATPServices/CompInspection.svc"
                binding="basicHttpBinding" bindingConfiguration="ServicesFirstEndPoint"
                contract="Proxy.ICompInspection" name="ServicesFirstEndPoint" />
        </client>
    </system.serviceModel>
</configuration>