<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!-- ADAM Database Server -->
    <!--<add name="Entities" connectionString="metadata=res://*/ModelAdam.csdl|res://*/ModelAdam.ssdl|res://*/ModelAdam.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:sql2k1201.discountasp.net;initial catalog=SQL2012_947706_adam2014;persist security info=True;user id=SQL2012_947706_adam2014_user;password=adam2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="elmah-sql" connectionString="Data Source=tcp:sql2k1201.discountasp.net;Initial Catalog=SQL2012_947706_adam2014;persist security info=True;user id=SQL2012_947706_adam2014_user;password=adam2014;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
    <add name="Entities" connectionString="metadata=res://*/ModelAdam.csdl|res://*/ModelAdam.ssdl|res://*/ModelAdam.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5021.Smarterasp.net;initial catalog=DB_9F2CA9_MyShopAuto;persist security info=True;user id=DB_9F2CA9_MyShopAuto_admin;password=MyShopAutoProd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="elmah-sql" connectionString="Data Source=SQL5021.Smarterasp.net;Initial Catalog=DB_9F2CA9_MyShopAuto;persist security info=True;user id=DB_9F2CA9_MyShopAuto_admin;password=MyShopAutoProd123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
