@model MyShopWeb.Models.SafetyStickers

<div class="col-sm-3 nopadding" style="background-color:transparent;font-family: 'Arial Narrow'; border: 1px solid lightgrey; word-wrap: break-word;height:100px">
    <div style="color:white; background-color:black;font-weight:bold">
        
    </div>

    @Html.DisplayFor(x => x.AI)<br />
    @Html.DisplayFor(x => x.AO)<br />
    @Html.DisplayFor(x => x.SI)

</div>
