@{
    ViewBag.Title = "Home Page";
}
@model MyShopWeb.Models.StickerModel

<script>
    $(document).ready(function () {
    
    });



    //Load  list from server

</script>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-green clickable">
            <h1 class="panel-title">Search TAP Promo Database ....</h1>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
           
            @Html.EditorFor(x => x.SafetyStickers)
            <hr />

        </div>
    </div>
</div>