@{
    ViewBag.Title = "Home Page";
}

<script>
    $(document).ready(function () {
        //Re-load records when user click 'load records' button.
        $('#StickerTypesTC').jtable({
            title: 'STICKER TYPES',
            paging: false,
            sorting: false,
            selecting: false,
            multiselect: false,
            actions: {
                listAction: '@Url.Action("StickerTypeList", "Home")'
            },
            fields: {
                StickerTypeId: { title: "Id", width: "1%" },
                StickerTypeCD: { title: 'Sticker Cd ', },
                StickerType: { title: 'StickerType', },
                StickerDesc: { title: 'Description', },
            },
        });

        $('#StickerStatusTC').jtable({
            title: 'STICKER STATUS',
            paging: false,
            sorting: false,
            selecting: false,
            multiselect: false,
            actions: {
                listAction: '@Url.Action("StickerStatusList", "Home")'
            },
            fields: {
                StickerStatusId: { title: "Id", width: "1%" },
                StickerIssuedStatus: { title: 'Status', },
            },
        });

        $('#StickerTypesTC').jtable('load');
        $('#StickerStatusTC').jtable('load');
    });

    //Load  list from server

</script>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-green clickable">
            <h1 class="panel-title">Search TAP Promo Database ....</h1>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
            <div class="col-md6">
                <div id="StickerTypesTC"></div>
            </div>
            <hr />
            <div class="col-md6">
                <div id="StickerStatusTC"></div>
            </div>
        </div>
    </div>
</div>