<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServicesFirstEndPoint" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="myServiceBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://www.MyShopAuto.com/ATPServices/OutDoor.svc"
        binding="basicHttpBinding" bindingConfiguration="ServicesFirstEndPoint" behaviorConfiguration="myServiceBehaviour"
        contract="ServiceReference1.IOutDoor" name="ServicesFirstEndPoint" />
    </client>
  </system.serviceModel>
</configuration>